.fade-route-enter {
  opacity: 0;
  transform: translateY(20px);
}
.fade-route-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 350ms, transform 350ms;
}
.fade-route-exit {
  opacity: 1;
  transform: translateY(0);
}
.fade-route-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 350ms, transform 350ms;
}
