
@use "../styles/variables" as *;

.nav-links .active {
  border-bottom: 2.5px solid $color-primary;
  color: $color-primary;
  font-weight: 600;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 16px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;

  backdrop-filter: blur(10px);

  .nav-links {
    display: flex;
    gap: 20px;
  }

  a {
    color: $color-text;
    font-weight: 500;
    transition: color 0.2s ease;
    text-decoration: none;

    &:hover {
      color: $color-primary;
    }
  }
}